<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<bean class="com.forms.beneform4j.excel.ExcelComponentConfig">
		<property name="excelModelLoaders">
			<list>
				<!-- 直接将文件名称作为模型ID的Excel文件模型加载器 -->
				<bean p:name="xls-filename" class="com.forms.beneform4j.excel.model.file.loader.FilenameAsModelIdFileEMLoader">
					<property name="locationPatterns" value="classpath:excel/file/*.xls"/>
				</bean>
				
				<!-- 指定根目录的Excel文件模型加载器，模型ID为各文件对目录的相对路径 -->
				<bean p:name="excel-file-model" class="com.forms.beneform4j.excel.model.file.loader.FolderFileEMLoader">
					<property name="folders" value="D:/excel-file-model"/>
				</bean>
				
				<!-- 使用单独的XML文件来配置Excel文件模型路径的加载器，适用于手工指定模型ID的情况 -->
				<bean p:name="resources" class="com.forms.beneform4j.excel.model.file.loader.XmlFileEMLoader">
					<property name="locationPatterns" value="classpath:excel/beneform4j-excel-file-model.xml"/>
				</bean>
			</list>
		</property>
	</bean>
	
</beans>
