<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<bean class="com.forms.beneform4j.excel.ExcelComponentConfig">
		<property name="emLoaders">
			<list>
				<!-- 使用单独的XML文件来配置Excel文件模型路径的加载器，适用于手工指定模型ID的情况 -->
				<bean p:name="resources" class="com.forms.beneform4j.excel.model.file.loader.xml.XmlFileEMLoader">
					<property name="locationPatterns" value="classpath:excel/*/beneform4j-excel-file-model.xml"/>
				</bean>
				
				<!-- 使用XML配置的树型Excel模型 -->
				<bean p:name="xml-tree" p:validation="true" class="com.forms.beneform4j.excel.model.tree.loader.xml.XmlTreeEMLoader">
					<property name="locationPatterns" value="classpath:excel/tree/beneform4j-excel-tree-model*.xml"></property>
				</bean>
			</list>
		</property>
	</bean>
	
</beans>
